<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mx.com.e-360.play"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>E360PLAY</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author href="http://www.espacio360.com.mx" email="salvador.martinez@espacio360.com.mx">
     SALVADOR MARTINEZ GAYTAN
  </author>

  <access origin="*"></access>


<preference name="Fullscreen" value="true" />


<!-- iOS only preferences -->
<preference name="EnableViewportScale" value="true"/>

<preference name="MediaPlaybackRequiresUserAction" value="false"/>
<preference name="AllowInlineMediaPlayback" value="true"/>


<!-- Android only preferences -->


<!-- Windows only preferences -->


<!-- OS X only preferences -->



</widget>